.main-layout {
  word-wrap: break-word;
}

.page-column {
  padding-bottom: 20px;
  padding-top: 20px;
}

.content-container {
  padding-left: 25px;
}

.site-toc {
  background: #5e788e;
  color: #fff;
  padding-right: 0;
  label {
    padding-left: 0;
    font-weight: normal;
  }
  a {
    color: #fff;
  }

}

.content {
  .content-title {
    margin-top: 0;
  }
  h1,
  h2,
  h3 {
    font-weight: bold;
    line-height: 40px;
    margin: 20px 0;
    text-rendering: optimizeLegibility;
  }
}
.ui-thumbnail {
  height: 100px;
}