<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/_scripts/jquery.ba-hashchange.min.js"></script>
<script src="/_scripts/jquery.swiftype.search.js"></script>
<script src="/_scripts/jquery.swiftype.autocomplete.js"></script>
<script src="/_scripts/bootstrap.min.js"></script>
<script src="/_scripts/jquery.magnific-popup.min.js"></script>
<script src="/_scripts/searchbox.js"></script>
<script src="/_scripts/github-edit-button.js"></script>
<script src="/_scripts/site-toc.js"></script>
<script src="/_scripts/page-toc.js"></script>