{{ partial "header.html" . }}
<div id="wrap">
    {{ partial "navbar.html" . }}


    <div id="main" class="container">
        <div id="breadcrumbs" class="row">
        </div>
        <div class="container-fluid">

            <div id="leftbar-div" class="col-md-2 hidden-xs">
                <div class="leftbar">
                    <ul class="treeview" id="tree">
                      <li>Installation</li>
                      <li>Getting Started</li>
                    </ul>
                </div>

            </div>

            <div id="content" class="col-md-8">
                <div id="page-content" class="page-content">
                    <h1 style="padding-top:135px;">{{ .Title }}</h1>
                    {{ .Content }}
                </div>
            </div>

            {{ partial "toc.html" .}}

        </div>

        {{ partial "container-footer.html" . }}

    </div>
    <div class="push"></div>
</div>
{{ partial "footer.html" . }}
